@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
html {
  font-size: 100%;
  line-height: 1.5;
}

* {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3vw, 24px);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  max-width: 1600px;
  // background-color: #300a6e;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}
